<% if @article.errors.any?  %>
    <h2> the following reasons prevented the article from being saved</h2>
    <ul>
        <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<%= form_with(model: @article, local: true) do |form| %> <%# this give the specific id from it's controller to be filled %>

<p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
</p>

<p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
</p>

<p>
    <%= form.submit %> <%# this is the submit button; it will send to the create action %>
</p>

<% end %>